*{
    font-family: Helvetica, Arial, sans-serif;
}


html, body {
    background-color: #132B40;
    height: 100vh;
    width: 100%;
}

.mb{
    margin-bottom: 5px;
}

.marb-10{
    margin-bottom: 10px;
}

.mt{
    margin-top: 5px;
}

.mt-20{
    margin-top: 20px;
}


.ml-{
    margin-left: 5px;
}

.marl-10{
    margin-left: 10px;
}


.mr{
    margin-right: 5px;
}

.mr-10{
    margin-right: 10px;
}